main {
				
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#response {
				
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #38f7ba;
	border: 1px solid black;
	padding: 20px;
}


h2 {
	color: orange;
}

p {
	margin-bottom: 0px;
}

#friend-table {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
}

table td {
    padding-left: 30px;
    padding-bottom: 30px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: orange;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid orange;
}


